# ============================================================
# COMMON CONFIGURATION
# ============================================================

ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_HTTP_PORTS=8080


# ============================================================
# HTTP / LOCAL PROFILE
# ============================================================

Http__ConnectionStrings__DefaultConnection=


# ============================================================
# DOCKER PROFILE
# ============================================================

Docker__ConnectionStrings__DefaultConnection=Server=
